body {
  margin: 0;
  background-color: #000000;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}
